<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NECC</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../styles/main.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300&family=Raleway:wght@100;300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
  <div class="main-container wood-bg">
    
    <%- include('nav.ejs'); -%>
    

    <div class="about about-page">
        <h2 class="title">About NECC</h2>
        <p>Finding and hiring the right contractor for your project can be difficult. It is important to find someone you can trust. We will communicate with you frequently to ensure that the project runs smoothly. We pride ourselves on honesty, integrity, communication, making things happen and making our customers happy.</p>
    </div>

    <div class="about about-page">
      <h2 class="title">Our Team</h2>
      <p>Meet the NECC team (Sam, Kyle, and Wayne)</p>
      <img src="../uploads/NECC-team.jpg" alt="image" >
    </div>

    <div class="about about-page">
      <h2 class="title">Team Mascot</h2>
      <p>Lyle the shop dog</p>
      <img src="../uploads/NECC-lyle.JPG" alt="image" >
    </div>




    <footer>
    	<div>
    		<div class="row">
    			<div class="col-md-12 col-sm-12">
    				<p class="wow fadeInUp"  data-wow-delay="0.3s">New England Coastal Contractors LLC.</p>
    				<p class="wow fadeInUp"  data-wow-delay="0.3s"><a href="/contact">Contact Us </a> | <a href="/about"> Back to Top</a></p>
                    <p>
                    <a href="https://www.facebook.com/NECCLLC/" class="fa fa-facebook"></a>
                    <a href="https://www.instagram.com/newenglandcoastalcontractors/" class="fa fa-instagram"></a>
                    </p>
    			</div>
    		</div>
    	</div>
    </footer>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
