<head>
  <link rel="stylesheet" type="text/css" href="../styles/main.css">
  <script src="https://kit.fontawesome.com/2603b3edae.js" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <a href="/" class="logo2">New England Coastal Contractors LLC</a>

    <button class="hamburger" id="hamburger">
      <i class="fas fa-bars"></i>
    </button> 

    <ul class="nav-ul" id="nav-ul">

      <li><a href="/contact">Contact</a></li>
      <li><a href="/about">About</a></li>
    
      <div class="drop">
        <button class="dropbtn">Project Gallery
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          
          <a href="/renovations">Additions & Renovations</a>
          <a href="/new">New Construction</a>
          <a href="/kitchens">Kitchens</a>
          <a href="/baths">Bathrooms & Laundry</a>
          <a href="/outdoor">Outdoor Living</a>
          <a href="/cabinets">Cabinetry & Millwork</a>

        </div>
      </div>

    </ul>
  </header>
  
</body>
<script src="../scripts/nav.js"></script>
