<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body {
        text-align: center;
    }

    h2 {
        font-size: medium;
        font-family: sans-serif;

    }

    a {
        font-size: small;
        font-family: sans-serif;
        color: rgb(255, 145, 0);
        text-decoration: underline;
    }
</style>
<body>
    <h2>Thank you for your submission. We will respond shortly via email.</h2>
    <a href="/"> Click here to return to the NECC home page. </a>
</body>
</html>