<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NECC</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://necoastalcontractors.com/styles/main.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300&family=Raleway:wght@100;300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="main-container">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">New England Coastal Contractors</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNavDropdown">
          <ul class="navbar-nav flex-row-reverse">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Project Gallery
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/renovations">Renovations</a>
                <a class="dropdown-item" href="/kitchens">Kitchen</a>
                <a class="dropdown-item" href="/baths">Bath</a>
                <a class="dropdown-item" href="/repair">Repair & Maintenance</a>
                <a class="dropdown-item" href="/cabinets">Cabinetry & Millwork</a>
                <a class="dropdown-item" href="/new">New Construction</a>
                <a class="dropdown-item" href="/outdoor">Decking & Outdoor</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/necc-tools">Toolbox</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact Us</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <% const Pic = include('../../models/pics.js'); %>
    <div class = "container img-strip">
      <h2>Project Gallery - Renovations</h2>
    <%_ for (const pic of pics) { -%>
      <div class="gallery">
        <%_ if (pic.type === "renovation") { -%>
          <div class="img-container">
            <img src="../uploads/<%=pic.file-%>" alt="image" >
          </div>
        <%_ }; -%>
      </div>
    <%_ }; -%>
    </div>


    <footer>
    	<div>
    		<div class="row">
    			<div class="col-md-12 col-sm-12">
    				<p class="wow fadeInUp"  data-wow-delay="0.3s">New England Coastal Contractors LLC.</p>
    				<p class="wow fadeInUp"  data-wow-delay="0.3s"><a href="/contact">Contact Us </a> | <a href="/renovations"> Back to Top</a></p>
            <p>
            <a href="https://www.facebook.com/NECCLLC/" class="fa fa-facebook"></a>
            <a href="https://www.instagram.com/newenglandcoastalcontractors/" class="fa fa-instagram"></a>
            </p>
    			</div>
    		</div>
    	</div>
    </footer>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
